.venv/
venv/

__pycache__/
.DS_Store

articles/
datasets/
images/real-time demo

CLAUDE.md
PP_final.txt
PP_presentation.pdf
~$iploma.docx
~$ploma_final.docx
~$ploma_text.docx
~$Presentation1.pptx
~$Diploma_presentation.pptx
